body{
    height: 100%;
    margin: 0;
    background-image: url(https://besthqwallpapers.com/Uploads/6-12-2019/114357/thumb2-lebron-james-grunge-art-nba-los-angeles-lakers-basketball-stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    padding: 10px;
    color: purple;
    
    background-image: url(https://i.pinimg.com/originals/26/99/ae/2699ae26a1ce8a2e724e0e6ad7a9cbf1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}

button {
    border: none;
    background-color: #6a0dad;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #4a0072;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
}
